body {
  background-color: aliceblue;
  color: 	#FF66CC;
  font-size: 50px;
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 600px;
  border: 2px solid #FF66CC;
}

#container * {
  border: 1px solid #FF66CC;
}

#display {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 70px;
  text-align: right;
  width: 400px;
}
#clear {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3; 
}
#zero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  font-size: 50px;
  color: #FF66CC;
}

@media only screen and (max-device-width: 780px) {
  #container {
    margin-top: 0;
  }
}